@media (min-width: 767px) {
    .navbar-nav .dropdown-menu .caret {
  transform: rotate(-90deg);
    }
}
.card-cont {
	list-style-type: none;
}
#ul_search_videos {
	margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
}
div.col-xs-4.col-sm-12.image-column {
	padding-left: 5px;
    padding-right: 5px;
}
li.card-cont.col-xs-12.col-sm-6.col-md-4 {
	padding-left: 5px;
    padding-right: 5px;	
}
a.ytp-title-link.yt-uix-sessionlink {
    href: "";
}